---
title: 購物車
layout: ./app/week5/layout.ejs
engine: ejs
current: cart
---
<div class="row g-0" :data="check = 'cart'">
    <div class="col-md-2">
        <nav class="navbar navbar-expand-md navbar-dark p-4 d-md-flex flex-md-column align-items-md-start shadow">
            <div class="navbar-brand text-white p-0 m-0 fs-6">Bistro</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-md-flex align-items-md-start pt-md-5" id="toggleNavbar">
                <ul class="navbar-nav d-md-flex flex-md-column mt-md-3">
                    <li class="nav-item">
                        <a href="cart.html" class="nav-link px-0 active">購物車</a>
                    </li>
                    <li class="nav-item">
                        <a href="product.html" class="nav-link px-0">商品管理</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-0 disabled">訂單管理</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-0 disabled">優惠券管理</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col">
        <div class="row g-0 p-3">
            <!-- 產品列表 -->
            <div class="col-5 col-md-7">
                <ul class="row g-0 p-0">
                    <li class="col-md-6 list-unstyled mb-3" v-for="(item, idx) in products" :key="item.id"
                        :class="(idx % 2 !== 0) ? 'ps-md-3' : ''">
                        <div class="card">
                            <div class="card-img-top"
                                style="height: 200px;background-position: center;background-size: 100% auto;background-repeat: no-repeat;"
                                :style="{'backgroundImage': `url(${item.imageUrl})`}"></div>

                            <div class="card-body">
                                <p class="card-title">{{ item.title}}</p>
                                原價：{{ money(item.origin_price) }}
                                售價：<span class="text-danger">{{ money(item.price) }}</span>
                            </div>
                            <div class="card-footer btn-group text-end py-3 text-nowrap">
                                <button type="button" class="btn btn-sm btn-outline-secondary" @click=openProduct(item.id)>
                                    商品細節
                                </button>
                                <button type="button" class="btn btn-sm btn-primary d-flex align-items-center justify-content-center" @click="addToCart(item, 1)"
                                :disabled="spinItem === item.id">
                                    <i class="spinner"
                                    :class="spinItem === item.id ? 'show' : 'fade d-none'"></i>
                                    加入購物車
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-7 col-md-5 ps-3">
                <!-- 購物車 -->
                <div class="border rounded p-3 bg-white" v-if="!final_total">
                    <h1 class="fs-5">購物車</h1>
                    <p class="alert alert-secondary p-2 text-center m-0">尚未選購商品</p>
                </div>
                <div class="border rounded p-3 bg-white sticky-top" v-else>
                    <h1 class="fs-5">購物車</h1>
                    <ul class="list-group list-group-flush d-flex align-item-center">
                        <li class="list-group-item px-0 d-flex" v-for="(item, key) in cart.carts"
                            :key="item.product_id">
                            <span class="col-6 m-0">{{ item.product.title }}</span>
                            <span class="col-2">
                                <input type="number" min="0" class="form-control py-0 px-1" v-model.number="item.qty"
                                    @blur="updateUserCarts(item.id, item.qty)">
                            </span>
                            <span class="col-2 m-0 text-end">{{ money(item.product.price) }}</span>
                            <span class="col-2 material-icons text-secondary text-center" role="button"
                                @click="deleteCartProduct(item.id)">cancel</span>
                        </li>
                    </ul>
                    <hr>
                    <ul class="list-unstyled text-end">
                        <li>總價：{{ money(final_total) }}</li>
                    </ul>
                    <button type="button" class="btn btn-lg w-100 btn-primary" @click="isCheckout = true">結帳</button>
                    <button type="button" class="btn btn-lg w-100 btn-outline-secondary mt-2 d-flex align-items-center justify-content-center"      @click="clearCart"
                    :disabled="spinItem == true">
                        <i class="spinner" 
                        :class="spinItem == true ? 'show' : 'fade d-none'"></i>
                        清空購物車
                    </button>
                    <!-- 結帳 -->
                    <div class="mt-4" ref="checkout"
                    :class="isCheckout ? 'show' : 'fade d-none'">
                        <hr>
                        <h2 class="fs-5">結帳表單</h2>
                        <v-form v-slot="{ errors }" ref="form" @submit.prevent="onSubmit">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <v-field 
                                    id="email" 
                                    name="Email" 
                                    type="email" 
                                    class="form-control" 
                                    :class="{ 'is-invalid': errors['Email'] }" placeholder="請輸入 Email" 
                                    rules="email|required" 
                                    v-model="order.email"></v-field>
                                <error-message 
                                    name="Email" 
                                    class="invalid-feedback">
                                </error-message>
                            </div>

                            <div class="mb-3">
                                <label for="name" class="form-label">收件人姓名</label>
                                <v-field 
                                    id="name" 
                                    name="姓名" 
                                    type="text" 
                                    class="form-control" 
                                    :class="{ 'is-invalid': errors['姓名'] }" 
                                    placeholder="請輸入姓名" 
                                    rules="required" 
                                    v-model="order.name"></v-field>
                                <error-message 
                                    name="姓名" 
                                    class="invalid-feedback">
                                </error-message>
                            </div>

                            <div class="mb-3">
                                <label for="tel" class="form-label">收件人電話</label>
                                <v-field 
                                    id="tel" 
                                    name="電話" 
                                    type="tel" 
                                    class="form-control"
                                    :rules="isPhone"
                                    :class="{ 'is-invalid': errors['電話'] }" 
                                    placeholder="請輸入電話" 
                                    v-model="order.tel"></v-field>
                                <error-message 
                                    name="電話" 
                                    class="invalid-feedback">
                                </error-message>
                            </div>

                            <div class="mb-3">
                                <label for="address" class="form-label">收件人地址</label>
                                <v-field 
                                    id="address" 
                                    name="地址" 
                                    type="text" 
                                    class="form-control" 
                                    :class="{ 'is-invalid': errors['地址'] }" 
                                    placeholder="請輸入地址" 
                                    rules="required" 
                                    v-model="order.address"></v-field>
                                <error-message 
                                    name="地址" 
                                    class="invalid-feedback">
                                </error-message>
                            </div>

                            <div class="mb-3">
                                <label for="message" class="form-label">留言</label>
                                <textarea name="" id="message" class="form-control" rows="3" v-model="userMessage"></textarea>
                            </div>
                            <div class="text-end">
                                <button type="button" class="btn btn-danger w-100 d-flex align-items-center justify-content-center"
                                @click.prevent="checkout"
                                :disabled="spinItem == 'checkout'">
                                <i class="spinner" 
                                :class="spinItem == 'checkout' ? 'show' : 'fade d-none'"></i>
                                送出訂單</button>
                            </div>
                        </v-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<modal-detail 
:detail-data="detailData"
:spin-item="spinItem"
 @add-to-cart="addToCart">
</modal-detail>